<div class="wrapper" [@harmonica]="show">

    <mat-form-field [appearance]="appearance" [hideRequiredMarker]="hideRequired" [color]="color"
                    subscriptSizing="dynamic">

        <mat-label *ngIf="label">
            {{label}}
            <ngx-icon class="tooltip" alias="help" *ngIf="tooltip" [matTooltip]="tooltip!"
                      matTooltipPosition="above" matTooltipTouchGestures="off"/>
        </mat-label>

        <ngx-icon-button matIconPrefix alias="date" noClickBubble (click)="openDatePicker()"/>

        <input type="text" matInput [placeholder]="placeholder ?? label!" [required]="required"
               [readonly]="readonly" [ngModel]="textValue$ | async" (ngModelChange)="updateTextValue($event)" [ngModelOptions]="{standalone: true}"
               [autocomplete]="autocomplete" [autofocus]="autofocus" [errorStateMatcher]="(errorMatcher$ | async)!"
               #input [disabled]="isDisabled" [attr.dir]="direction">

        <mat-error>{{errorText$ | async}}</mat-error>

    </mat-form-field>
</div>

<ngx-mat-timepicker [format]="timeFormat" (timeSet)="pickTime($event)"></ngx-mat-timepicker>
