<div class="wrapper" [@harmonica]="show">

    <mat-form-field [appearance]="appearance" [hideRequiredMarker]="hideRequired" [color]="color" [matTooltip]="tooltip!"
                    matTooltipPosition="above" matTooltipTouchGestures="off">

        <mat-label *ngIf="label">
            {{label}}
            <i class="fad fa-question-circle" *ngIf="tooltip"></i>
        </mat-label>

        <input type="text" matInput [placeholder]="placeholder ?? label!" [required]="required" [readonly]="readonly" [(ngModel)]="inputValue"
               [autocomplete]="autocomplete" [autofocus]="autofocus" [errorStateMatcher]="(errorMatcher$ | async)!" #input [disabled]="isDisabled">

        <mat-icon matSuffix matRipple noClickBubble (click)="openPicker(picker)">schedule_outline</mat-icon>

        <mat-error>{{errorText$ | async}}</mat-error>

    </mat-form-field>
</div>

<ngx-mat-timepicker #picker [format]="timeFormat" (timeSet)="pickTime($event)"></ngx-mat-timepicker>
