<div class="wrapper" [@harmonica]="show">

    <mat-form-field [appearance]="appearance" [hideRequiredMarker]="hideRequired" [color]="color" subscriptSizing="dynamic">

        <mat-label *ngIf="label">
            {{label}}
            <ngx-icon class="tooltip" alias="help" *ngIf="tooltip" [matTooltip]="tooltip!"
                      matTooltipPosition="above" matTooltipTouchGestures="off"/>
        </mat-label>

        <input type="text" matInput [placeholder]="placeholder ?? label!" [required]="required" [readonly]="readonly" [(ngModel)]="inputValue"
               [autocomplete]="autocomplete" [autofocus]="autofocus" [errorStateMatcher]="(errorMatcher$ | async)!" #input [disabled]="isDisabled">
        <button mat-icon-button matIconSuffix (click)="openPicker(picker)" (mousedown)="$event.preventDefault()">
            <ngx-icon alias="time"/>
        </button>


        <mat-error>{{errorText$ | async}}</mat-error>

    </mat-form-field>
</div>

<ngx-mat-timepicker #picker [format]="timeFormat" (timeSet)="pickTime($event)"></ngx-mat-timepicker>

