<div class="wrapper" [@harmonica]="show">

    <mat-form-field [appearance]="appearance" [hideRequiredMarker]="hideRequired" [color]="color" [matTooltip]="tooltip!"
                    matTooltipPosition="above" matTooltipTouchGestures="off">

        <mat-label *ngIf="label">
            {{label}}
            <ngx-icon class="tooltip" alias="help" *ngIf="tooltip"></ngx-icon>
        </mat-label>

        <input type="text" matInput [placeholder]="placeholder ?? label!" [required]="required" [readonly]="readonly" [(ngModel)]="inputValue"
               [autocomplete]="autocomplete" [autofocus]="autofocus" [errorStateMatcher]="(errorMatcher$ | async)!" #input [disabled]="isDisabled">

        <ngx-icon alias="time" matSuffix matRipple noClickBubble (click)="openPicker(picker)"></ngx-icon>

        <mat-error>{{errorText$ | async}}</mat-error>

    </mat-form-field>
</div>

<ngx-mat-timepicker #picker [format]="timeFormat" (timeSet)="pickTime($event)"></ngx-mat-timepicker>

