@if (back.observed && !this.hideBack()) {
    <ngx-icon alias="back" class="back" matRipple (click)="back.emit()"/>
}

@if (close.observed && !this.hideClose()) {
    <ngx-icon alias="close" class="close" matRipple (click)="close.emit()"/>
}

@if (showMenu() && !back.observed && !close.observed) {
    <ngx-icon alias="burger" class="menu" matRipple (click)="openMenu()"/>
}

<div class="column">
    <p class="title" *ngIf="heading() as h">{{ h }}</p>
    <p class="sub-title" *ngIf="subHeading() as sh">{{ sh }}</p>
</div>

<ng-content/>
