
<ngx-icon alias="back" class="back" *ngIf="back.observed" matRipple (click)="back.emit()"/>
<ngx-icon alias="close" class="close" *ngIf="close.observed && !this.hideClose" matRipple (click)="close.emit()"/>

<ngx-icon alias="burger" class="menu" *ngIf="(showMenu$ | truthy) && !back.observed && !close.observed" matRipple (click)="openMenu()"/>

<div class="column">
    <p class="title" *ngIf="heading">{{heading}}</p>
    <p class="sub-title" *ngIf="subHeading">{{subHeading}}</p>
</div>

<ng-content></ng-content>
