
@media (min-width: 601px) {
  .menu {
    display: none !important;
  }
}

:host {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.title {
  font-weight: 500;
  margin: 0;
  line-height: 1.2;
  flex-shrink: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ngx-icon {
  font-size: 20px;
  --padding: 10px;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: -10px;
  cursor: pointer;
}
