
@if (back.observed && !this.hideBack()) {
    <ngx-icon-button alias="back" class="back" matRipple (click)="back.emit()"/>
}

@if (close.observed && !this.hideClose()) {
    <ngx-icon-button alias="close" class="close" matRipple (click)="close.emit()"/>
}

<div class="column">
    <p class="title" *ngIf="heading() as h">{{ h }}</p>
    <p class="sub-title" *ngIf="subHeading() as sh">{{ sh }}</p>
</div>

<div class="content">
    <ng-content/>
</div>

<button type="button" mat-raised-button color="primary" (click)="form().submit()"
        *ngIf="form().showSubmit()" [disabled]="!form().canSubmit()" [isLoading]="form().submitting()">
    {{form().submitBtnText}}
</button>

<ngx-form-error-state [button]="showErrors.observed" [errors]="form().form.errorState()" [warnings]="form().form.warningState()" (showChange)="showErrors.emit()"/>
