
//Icons in buttons
.mat-mdc-button-base {

  .mdc-button__label {

  }
}

.mat-mdc-button-base .mdc-button__label, .mat-mdc-menu-item .mdc-list-item__primary-text {
  > *, & {
    vertical-align: middle;
  }

  > .mat-icon, > .ngx-icon, > i {
    font-size: 1.125rem;

    &:first-child:not(:last-child) {
      margin-right: 8px;
    }

    &:last-child:not(:first-child) {
      margin-left: 8px;
    }
  }
}

.mdc-button.mat-mdc-button-base {
  letter-spacing: 0.03571428571em;
}
