<div class="wrapper" [@harmonica]="show && !hidden">

    <mat-form-field appearance="fill" [hideRequiredMarker]="hideRequired" [color]="color" subscriptSizing="dynamic">

        <mat-label *ngIf="label">
            {{label}}
            <ngx-icon class="tooltip" alias="help" *ngIf="tooltip" [matTooltip]="tooltip!"
                      matTooltipPosition="above" matTooltipTouchGestures="off"/>
        </mat-label>

        <mat-select [errorStateMatcher]="(errorMatcher$ | async)!" [(ngModel)]="inputValue" [multiple]="multiple" [placeholder]="placeholder ?? label!" [required]="required" [disabled]="readonly" >
            <mat-option *ngIf="canClear">--</mat-option>
            <mat-option *ngFor="let item of items$ | async; trackBy: trackBy" [value]="getValue(item)">
                {{getLabel(item)}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
