<div class="wrapper" [@harmonica]="show() && !hidden()">

    <mat-form-field appearance="fill" [hideRequiredMarker]="hideRequired()" [color]="color()" subscriptSizing="dynamic">

        <mat-label *ngIf="label()">
            {{label()}}
            <ngx-icon class="tooltip" alias="help" *ngIf="tooltip() as t" [matTooltip]="t"
                      matTooltipPosition="above" matTooltipTouchGestures="off"/>
        </mat-label>

        <mat-select [errorStateMatcher]="errorMatcher()" [(ngModel)]="value" [ngModelOptions]="{standalone: true}"
                    [multiple]="multiple()" [placeholder]="placeholder()" [required]="required()" [disabled]="readonly()">

            <mat-option *ngIf="canClear() && !!value">
                @if (multiple()) { Clear }
                @else { -- }
            </mat-option>

            @for (item of items(); track trackBy) {
                <mat-option [value]="getValue()(item)">
                    {{getLabel()(item)}}
                </mat-option>
            }

        </mat-select>
    </mat-form-field>
</div>
