<div class="wrapper" [@harmonica]="show()">

    <mat-form-field [color]="color()" [appearance]="appearance()"
                    [hideRequiredMarker]="hideRequired()" subscriptSizing="dynamic">

        <mat-label *ngIf="label()">
            {{label()}}
            <ngx-icon class="tooltip" alias="help" *ngIf="tooltip() as t" [matTooltip]="t"
                      matTooltipPosition="above" matTooltipTouchGestures="off"/>
        </mat-label>

        <mat-datepicker-toggle matIconPrefix [for]="picker"/>
        <mat-datepicker #picker/>

        <input type="text" matInput [matDatepicker]="picker" [placeholder]="placeholder()" [required]="required()"
               [readonly]="readonly()" [(ngModel)]="value" [ngModelOptions]="{standalone: true}"
               [autocomplete]="autocomplete()" [autofocus]="autofocus()" [errorStateMatcher]="errorMatcher()"
               #input [disabled]="disabled()" [attr.dir]="direction()">

        <div matIconSuffix class="fix">
            <ng-content></ng-content>
        </div>

        <mat-error>{{error()}}</mat-error>

    </mat-form-field>
</div>
