
<section *ngxLet="'Lorem Ipsum' as counter">
    <p>Text: {{counter}}</p>
</section>

<hr>

<section *ngxAsync="counter$ as counter">
    <p>Count: {{counter}}</p>
    <button (click)="count()">+ 1</button>
</section>

<hr>

<section *ngxAsync="{counter: counter$, timer: timer$} as vars">
    <p>Count: {{vars.counter}}</p>
    <button (click)="count()">+ 1</button>
    <br>
    <p>Timer: {{vars.timer}}</p>
</section>

<hr>

<section *ngxAsyncAwait="{delay: delay$, counted: aboveTen$} as x; else waiting">
    <p>Waited</p>
    <p>delay: {{x.delay}}</p>
    <p>counted: {{x.counted}}</p>
</section>

<hr>

<section *ngxIf="counter$ as value; waiting: waiting; else: elseTmp">
    <p>Counter: {{value}}</p>
</section>

<hr>

<section *ngxIf="countedToTen$ as value; waiting: waiting; else: elseTmp">
    <p>Counted to ten: {{value}}</p>
</section>

<hr>

<section *ngxIfNot="countedToTen$; else: elseTmp">
    <p>Not counted to ten</p>
</section>


<ng-template #waiting>
    <p>Waiting...</p>
</ng-template>

<ng-template #elseTmp>
    <p>False</p>
</ng-template>
