
ngx-icon {
  --padding: 0;
  --scale: 1;

  display: inline-block;
  height: calc(1em + 2 * var(--padding));
  width: calc(1em + 2 * var(--padding));
  line-height: 1em;
  text-align: center;
  font-size: calc(1em * var(--scale));
  padding: var(--padding);

  &.empty {
    display: none;
  }

  &.inline {
    line-height: inherit;
  }
}
