
$background: var(--ngx-background, #f0f0f0);
$foreground: var(--ngx-foreground, #FCFCFC);
$foreground-light: var(--ngx-foreground-light, #FFFFFF);
$primary: var(--ngx-primary, #455a64);
$accent: var(--ngx-accent, #8d6e63);
$text-color: var(--ngx-text-color, #000000DD);
$text-color-light: var(--ngx-text-color-light, #00000099);
