<div class="wrapper" [@harmonica]="show() && !hidden()">

    <mat-form-field appearance="fill" [hideRequiredMarker]="hideRequired()" [color]="color()" subscriptSizing="dynamic">

        <mat-label *ngIf="label()">
            {{label()}}
            <ngx-icon class="tooltip" alias="help" *ngIf="tooltip() as t" [matTooltip]="t"
                      matTooltipPosition="above" matTooltipTouchGestures="off"/>
        </mat-label>

        <mat-select [errorStateMatcher]="errorMatcher()" [(ngModel)]="value" [ngModelOptions]="{standalone: true}"
                    [multiple]="true" [placeholder]="placeholder()" [required]="required()" [disabled]="readonly()">

            <mat-option *ngIf="clearable() && value.length > 0">None</mat-option>

            @for (item of mappedItems(); track item.id) {
                <mat-option [value]="item.id">
                    {{item.name}}
                </mat-option>
            }

        </mat-select>

        <mat-error><ngx-form-input-errors [errors]="errors()" [warnings]="warnings()"/></mat-error>
    </mat-form-field>
</div>
