<div class="wrapper" [@harmonica]="show">

    <mat-form-field [appearance]="appearance" [hideRequiredMarker]="hideRequired" [color]="color" subscriptSizing="dynamic">

        <mat-label *ngIf="label">
            {{label}}
            <ngx-icon class="tooltip" alias="help" *ngIf="tooltip" [matTooltip]="tooltip!"
                      matTooltipPosition="above" matTooltipTouchGestures="off"/>
        </mat-label>

        <input type="number" matInput [placeholder]="placeholder ?? label!" [required]="required" [readonly]="readonly" [(ngModel)]="inputValue"
               [autocomplete]="autocomplete" [autofocus]="autofocus" [errorStateMatcher]="(errorMatcher$ | async)!" #input >

        <div matIconSuffix *ngIf="suffixChild">
            <ng-content></ng-content>
        </div>


        <mat-error>{{errorText$ | async}}</mat-error>

    </mat-form-field>
</div>
