<div class="wrapper" [@harmonica]="show()">

    <mat-form-field [appearance]="appearance()" [color]="color()"
                    [hideRequiredMarker]="hideRequired()" subscriptSizing="dynamic">

        <mat-label *ngIf="label()">
            {{label()}}
            <ngx-icon class="tooltip" alias="help" *ngIf="tooltip() as t" [matTooltip]="t"
                      matTooltipPosition="above" matTooltipTouchGestures="off"/>
        </mat-label>

        <input type="number" matInput [placeholder]="placeholder()" [required]="required()" [readonly]="readonly()"
               [(ngModel)]="value" [ngModelOptions]="{standalone: true}"
               [autocomplete]="autocomplete()" [autofocus]="autofocus()" [errorStateMatcher]="errorMatcher()"
               #input [attr.dir]="direction()">

        <div matIconSuffix class="fix">
            <ng-content></ng-content>
        </div>


        <mat-error><ngx-form-input-errors [errors]="errors()" [warnings]="warnings()"/></mat-error>

    </mat-form-field>
</div>
