<div class="wrapper" [@harmonica]="show">

    <mat-form-field [appearance]="appearance" [hideRequiredMarker]="hideRequired" [color]="color"
                     subscriptSizing="dynamic">

        <mat-label *ngIf="label">
            {{label}}
            <ngx-icon class="tooltip" alias="help" *ngIf="tooltip" [matTooltip]="tooltip!" matTooltipPosition="above" matTooltipTouchGestures="off"/>
        </mat-label>

        <div class="color" matIconPrefix ngx-colors-trigger
             [colorPickerControls]="withAlpha ? 'default' : 'no-alpha'" colorsAnimation="popup" [hideTextInput]="true"
             [(ngModel)]="inputValue" format="hex" [disabled]="readonly" [palette]="palette"
             noClickBubble>
            <div class="fill" [style.background-color]="externalValue"></div>
        </div>

        <input matInput type="text" [placeholder]="placeholder ?? label!" [(ngModel)]="inputValue" [required]="required"
               [autocomplete]="autocomplete" [readonly]="readonly" [autofocus]="autofocus" #input [ngModelOptions]="{standalone: true}"
               [errorStateMatcher]="(errorMatcher$ | async)!" [attr.dir]="direction">

        <div matIconSuffix class="fix" *ngIf="suffixChild">
            <ng-content></ng-content>
        </div>

        <mat-error>{{errorText$ | async}}</mat-error>

    </mat-form-field>
</div>
