@use "@juulsgaard/ngx-tools/styles/variables" as *;

ngx-date-picker-dialog {
  .mat-calendar-header {
    background: $primary;
    color: $primary-500-contrast;
    --mat-datepicker-calendar-period-button-icon-color: #{$primary-500-contrast};

    .mat-mdc-button.mat-unthemed {
      --mdc-text-button-label-text-color: #{$primary-500-contrast};
    }
  }

  .mat-mdc-dialog-actions {
    justify-content: flex-end;
  }
}
