<div class="container">
    <ngx-header heading="Main" subHeading="Sub heading" (back)="noop()"></ngx-header>

    <div uiWrapper>
        <ngx-header heading="Sub" subHeading="Sub heading"></ngx-header>

        <div uiWrapper>
            <div uiWrapper>
                <ngx-header heading="Sub" subHeading="Sub heading"></ngx-header>
                <div uiWrapper>
                    <ngx-header heading="Sub" subHeading="Sub heading"></ngx-header>
                    <div class="very-large"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <ngx-header heading="Main" (close)="noop()"></ngx-header>
    <ngx-tab-bar>
        <div ngxTab="first">
            <ngx-header heading="Sub"></ngx-header>
            <div uiWrapper>
                <ngx-header heading="Sub"></ngx-header>
                <div class="very-large"></div>
            </div>
        </div>
    </ngx-tab-bar>
</div>

<div class="container">
    <ngx-header heading="Main" (close)="noop()"></ngx-header>
    <div uiWrapper>
        <ngx-tab-bar>
            <div ngxTab="first">
                <ngx-header heading="Sub"></ngx-header>
                <ui-wrapper>
                    <div class="very-large"></div>
                </ui-wrapper>
            </div>
        </ngx-tab-bar>
    </div>

</div>
