
.container {
  height: 500px;
  background-color: rgba(black, 0.1);
  overflow-y: auto;
}

.ngx-ui-header {
  position: sticky;
  top: 0;

  &.main-header {
    padding: 10px 20px;
    background-color: rgba(white, 0.4);
    font-size: 20px;
    height: 80px;
  }

  &.sub-header {
    padding: 5px 10px;
    background-color: rgba(white, 0.4);
    font-size: 16px;
    height: 40px;
  }

  &.tab-header {
    height: 48px;
  }

  &.sub-tab-header {
    padding: 5px 10px;
    background-color: rgba(white, 0.4);
    font-size: 16px;
    height: 40px;
  }
}

.ngx-ui-scope {
  background-color: rgba(black, 0.1);
  overflow: hidden;
  position: relative;

  &.no-header {
    height: 100%;
  }

  &.main-content {
    height: calc(100% - 80px);
    min-height: calc(100% - 80px);
  }

  &.sub-content {
    height: calc(100% - 40px);
    min-height: calc(100% - 40px);
  }

  &.tab-content {
    height: calc(100% - 48px);
    min-height: calc(100% - 48px);
  }

  &.sub-tab-content {
    height: calc(100% - 40px);
    min-height: calc(100% - 40px);
  }

  &.no-children {
    overflow-y: auto;
  }
}

.very-large {
  height: 1000px;
}
