
@if (errors().length || warnings().length) {

    @if (button()) {

        <ngx-icon-button alias="warning" [active]="show()" (click)="toggleErrors()"
                         [class]="errors().length ? 'error' : 'warning'" [matTooltip]="tooltip()"/>

    } @else {
        <ngx-icon alias="warning" [class]="errors().length ? 'error' : 'warning'" [matTooltip]="tooltip()"/>
    }

} @else {

    @if (button()) {
        <ngx-icon-button alias="valid" [disabled]="!button()" (click)="toggleErrors()" class="valid"
                         matTooltip="No errors"/>
    } @else {
        <ngx-icon alias="valid" class="valid" matTooltip="No errors"/>

    }
}
