<div class="wrapper" [@harmonica]="show">

	<mat-form-field [appearance]="appearance" [hideRequiredMarker]="hideRequired" [color]="color" [matTooltip]="tooltip!"
	                matTooltipPosition="above" matTooltipTouchGestures="off">
		<mat-label *ngIf="label">
			{{label}}
			<i class="fad fa-question-circle" *ngIf="tooltip"></i>
		</mat-label>

		<input matInput [type]="showPassword ? 'text' : 'password'" [placeholder]="placeholder ?? label!" [(ngModel)]="inputValue" [required]="required"
		       [autocomplete]="autocomplete" [readonly]="readonly" [autofocus]="autofocus" #input [ngModelOptions]="{}" [errorStateMatcher]="(errorMatcher$ | async)!">

		<button mat-icon-button matSuffix (click)="toggleShow($event)" type="button" tabindex="-1">
			<i class="far" matRipple [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
		</button>

		<mat-error>{{errorText$ | async}}</mat-error>

	</mat-form-field>
</div>
