<div class="wrapper" [@harmonica]="show">

	<mat-form-field [appearance]="appearance" [hideRequiredMarker]="hideRequired" [color]="color" subscriptSizing="dynamic">
		<mat-label *ngIf="label">
			{{label}}
			<ngx-icon class="tooltip" alias="help" *ngIf="tooltip" [matTooltip]="tooltip!"
					  matTooltipPosition="above" matTooltipTouchGestures="off"/>
		</mat-label>

		<input matInput [type]="showPassword ? 'text' : 'password'" [placeholder]="placeholder ?? label!" [(ngModel)]="inputValue" [required]="required"
		       [autocomplete]="autocomplete" [readonly]="readonly" [autofocus]="autofocus" #input [ngModelOptions]="{}" [errorStateMatcher]="(errorMatcher$ | async)!">

		<button mat-icon-button (mousedown)="$event.preventDefault()" matIconSuffix (click)="toggleShow($event)" type="button">
			<ngx-icon [alias]="showPassword ? 'visible' : 'hidden'"></ngx-icon>
		</button>

		<mat-error>{{errorText$ | async}}</mat-error>

	</mat-form-field>
</div>
